/*

What is a grid?
  - A grid is a set of intersecting horizontal and vertical lines defining columns and rows.
  - We can create a grid container by declaring display: grid or display: inline-grid on an element.
  - As soon as we do this, all direct children of that element become grid items.

  <div class="wrapper">
    <div>One</div>
    <div>Two</div>
    <div>Three</div>
    <div>Four</div>
    <div>Five</div>
  </div>

  .wrapper {
    display: grid;
  }

*/

.display-notes {
  /*
    display:
    
    The display property specifies the display behavior (the type of rendering box) of an element.
    The display CSS property sets whether an element is treated as a block or inline element and the layout used for its children, such as flow layout, grid or flex.
    */

  /* Displays an element as an inline element (like <span>). Any height and width properties will have no effect */
  display: inline;
  /* Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width	 */
  display: block;
  /* Displays an element as a block-level grid container */
  /* The element behaves like a block element and lays out its content according to the grid model. */
  display: grid;
  /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
  /* The element generates a block element box that will be flowed with surrounding content as if it were a single inline box (behaving much like a replaced element would). */
  display: inline-block;
}

.container {
  width: 800px;
  margin: 0 auto;
}
.post-img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

* {
  border-width: 5px;
  border-style: solid;
  border-color: red;

  border: 5px solid red;
  border-radius: 50px;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

  /*
    all four margins are 25px
  */
  margin: 25px;

  /*
    top margin is 25px
    right margin is 50px
    bottom margin is 75px
    left margin is 100px
  */
  margin: 25px 50px 75px 100px;

  /*
    top margin is 25px
    right and left margins are 50px
    bottom margin is 75px
  */
  margin: 25px 50px 75px;

  /*
    top and bottom margins are 25px
    right and left margins are 50px
  */
  margin: 25px 50px;
}

/*

margin: auto;
                → You can set the margin property to auto to horizontally center the element within its container.
                → The element will take up the specified width, and the remaining space will be split equally between the left and right margins.

*/

p {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

  padding: 25px 50px 75px 100px;
  padding: 25px 50px 75px;
  padding: 25px 50px;
  padding: 25px;
}
